body{
    background-color: bisque;
}

.container{
padding: 2rem;
background-color: rgb(238, 90, 171);
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.d-flex{
    background-color: aliceblue;
    width: 55%;
    padding: 0 10px 0 10px;
    text-align: start;
    cursor: pointer;
}

.delete-icon{
    color: red;
    font-weight: 900;
    font-size: 13px;
    margin-right:0.5rem ;


}
#taskDate{
    cursor: pointer;
}

.table{
    cursor: pointer;
  
}

tbody{
    background-color: aliceblue;
}

svg{
    color: red;
    font-weight: 900;
    font-size: 1rem;
}